* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

body {
    max-width: 1920px;
    padding: 10px;
    background-color: #f1f1f1;
    
}
[class*="col-"] {
    float: left;
}
.container {
    float: center;
}
.header {
    text-align: center;
    padding: 30px;
    background-color: white;
}
.col-12 {
    background-color: #333;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    
}
a {
    color: #f2f2f2;
    padding: 0px 20px ;
    text-align: center;
    text-decoration: none;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
    padding: 12px 20px;
}
img {
    height: 200px;
    width: 100%;
    padding: 5px;
    background-color: #aaa;
}
.paveikslas {
    height: 300px;
    width: 50%;
    padding: 5px;
    background-color: #aaa;
} 
.container-1 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    
}
.container-2 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    
}
.container-3 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.container-4 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.container-5 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.footer {
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 20px;
}
.col-12-footer {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #ddd;
    margin-bottom: 20px;
}
.row::after {
    content: '';
    display: table;
    clear: both;
}

html {
    font-size: 12px;
}
.crimson-text h1 {
    font-family: "Crimson text";
    font-size: 4rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 20px;
}
.pirmas p {
    font-family: "Crimson text";
    font-size: 1.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 20px;
}
.crimson-text a {
    font-family: "Crimson text";
    font-size: 1.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.crimson-text h2 {
    font-family: "Crimson text";
    font-size: 3rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
}

.crimson-text h5 {
    font-family: "Crimson text";
    font-size: 1.8rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 30px;
}
.crimson-text p {
    font-family: "Crimson text";
    font-size: 1.6rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 20px;
}
.side-bar h2 {
    font-family: "Crimson text";
    font-size: 2.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
}
.side-bar p {
    font-family: "Crimson text";
    font-size: 2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
}
.crimson-text-2 {
    font-family: "Crimson text";
    font-size: 2.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
}
.crimson-text-3 h3 {
    font-family: "Crimson text";
    font-size: 2.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
}
.crimson-text-3 p {
    font-family: "Crimson text";
    font-size: 1.4rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
.crimson-text-3 p {
    font-family: "Crimson text";
    font-size: 1.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
}
@media all and (max-width: 720px) {
    html {
        font-size: 18px;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }    
}

